/* ===========================
CSS Base Styling
============================= */


/* Universal Styles */
* {
    box-sizing: border-box;
}


/* Display formatting */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
main {
    min-height: 100%;
    flex-grow: 1;
}
.top-ribbon {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.contact-label {
    display: inline-block;
    margin: 1rem 1.5rem .25rem 0;
}
.newsletter-info {
    margin-right: 1rem;
}
.box {
    max-width: 600px;
    margin: .15rem auto;
}
.contact fieldset {
    margin-top: 1rem;
}
.blue-box {
    overflow: auto;
}
.news-label {
    margin: .5rem 0;
}
.interests-label {
    margin: .75rem 0;
}
#zipcode {
    width: 50%;
}
#interests {
    margin-bottom: 1rem;
}
.sub-btn {
    padding: 1rem 0;
}
html,
body {
    min-height: 100vh;
}
.contact-info, 
.newsletter-info {
    padding: .75rem .5rem;
}
.contact,
.newsletter {
    margin: 1.5rem 0;
    padding: 0 1rem;
}
.news-label,
.interests-label {
    width: 80%;
}
.blue-box,
.grey-border,
.blue-border {
    margin: 0 1rem;
}
.contact-info,
select,
.sub-btn,
#interests {
    width: 100%
}
.contact-info,
.copy,
.news-label,
.interests-label{
    display: block;
}


/* Box and border styling */
.top-ribbon {
    background-color: #2f3947;
    color: white;
}
.blue-border {
    border-bottom: 3px solid #2f3947;
}
.grey-border {
    border-top: 2px solid rgba(74, 78, 83, .5);
}
.blue-box {
    border: 2px solid #2f3947;
    background-color: #112b4e2f;
}
.sub-btn,
.contact-info,
.newsletter-info {
    border: none;
}
.sub-btn,
.blue-box,
.contact-info,
.newsletter-info {
    border-radius: 5px;
}


/* Text styling */
body {
    font-family: 'Lora', serif;
    color: #2f3947;
}
.top-ribbon {
    text-transform: uppercase;
}
.signup h2 {
    font-weight: 700;
    font-size: 18px;
}
.signup p {
    font-size: 12px;
}
legend {
    font-weight: bold;
}
.contact-label {
    color:rgba(74, 78, 83, .8);
    font-size: 14px;
}
.contact-info::placeholder {
    padding-right: 1rem;
    text-align: right;
}
.interests-label {
    margin-top: 1rem;
}
.sub-btn {
    color: white;
}
.copy {
    margin: 1rem;
}
.copy,
.contact-info::placeholder,
#interests::placeholder {
    font-size: 12px;
    font-style: italic;
    color: rgba(74, 78, 83, .5);
}
.news-label,
.interests-label {
    font-size: 13px;
}
.top-ribbon, 
.signup {
    font-size: 9px;
}
.copy,
.signup,
.top-ribbon {
    text-align: center;
}
.copy,
legend,
.sub-btn,
.contact-label {
    text-transform: capitalize;
}


/* Interactive element styling */
select {
    color: rgba(74, 78, 83, .5);
    font-size: 16px;
}
option[value=""][disabled] {
    display: none;
}
select:valid {
    color: #2f3947;
    font-size: 16px
}
.sub-btn {
    background-color: rgb(99, 180, 176);
}
.sub-btn:hover {
    background-color: rgb(59, 122, 119);
}
.contact-info, 
.newsletter-info {
    background-color: rgba(234, 237, 243, 0.795);
}
.contact-info:focus,
.newsletter-info:focus {
    background-color: white;
    box-shadow: inset 0px 0px 10px -1px #3A4599;
}
.sub-btn,
.contact-info,
.sub-btn:hover,
.newsletter-info,
.contact-info:focus,
.newsletter-info:focus  {
    transition: background-color 1s, box-shadow 1s;
}


/* ===========================
Media Queries
============================= */

@media (min-width: 768px) {
    .contact {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-label {
        flex-basis: 20%;
        flex-grow: 0;
        align-self: center;
    }
    .contact-info {
        flex-basis: 70%;
        flex-grow: 2;
        margin: 1rem 0 .25rem;
    }
    #zipcode {
        max-width: 25%;
    }
}